/* styles.css */

/* Global styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  font-family: system-ui;
  color: #333;
}

/* Background image */
body::after {
  content: "";
  background-image: url("https://images.squarespace-cdn.com/content/v1/56ec32ddc2ea51bd674b7933/1617661759413-QRPPCPO6JALQ51MEIVEQ/606b8f2b0150c.jpg?format=2500w");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Element styles */
h1, p {
  position: relative;
  z-index: 1;
  color: #000000
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #000000;
  font-size: 48px;
}

/* Drop box styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Added to center horizontally */
}

/* #box {
  border: 2px solid #ffffff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
} */
#box {
  border: 2px solid #ffffff;
  padding: 40px; /* increased from 20px to make the box larger */
  text-align: center;
  cursor: pointer;
  max-width: 500px; /* This will ensure your box doesn't become too large on wide screens */
  height: 200px; /* New property to adjust the height of the box */
  width: 70%; /* This will make the box take up 80% of its container's width, you can adjust this */
  margin: auto; /* This will center your box */
}

#box p {
  margin: 0;
}

.dragover {
  border-color: #000;
}

#result {
  font-size: 32px; /* New property to adjust the size of the result text */
  color: #730505
}

#description {
  font-size: 18px; /* New property to adjust the size of the result text */
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.65); /* New property for white background with 80% opacity */
}