/* styles.css */

/* Global styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  font-family: system-ui;
  color: #333;
}

/* Background image */
body::after {
  content: "";
  background-image: url("https://media.istockphoto.com/id/613034406/photo/green-grass-field-of-public-park-in-morning-light.jpg?s=612x612&w=0&k=20&c=-uNlgILjNtqLe4SzvbXB5QwXgIeCAVpA4PjFQTMX4x0=");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Element styles */
h1, p {
  position: relative;
  z-index: 1;
  color: #000000
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #000000
}

/* Drop box styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#box {
  border: 2px solid #ffffff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#box p {
  margin: 0;
}

.dragover {
  border-color: #000;
}